<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.dao.OrgTypeDao">
	

	

	<insert id="addOrgType" parameterType="Map">
	  <selectKey keyProperty="sort" resultType="java.lang.Long" order="BEFORE">
		 	SELECT MAX(SORT)+1 SORT FROM ORGTYPE
	  </selectKey>
		INSERT INTO ORGTYPE(
			ORG_TYPE_ID,
			ORG_TYPE_NAME,
			ORG_TYPE_PARENT_ID,
			ORG_TYPE_SN,
			ORG_TYPE_DES,
			SORT
		)
		VALUE(
			#{orgTypeId, jdbcType=VARCHAR },
			#{orgTypeName, jdbcType=VARCHAR },
			#{orgTypeParentId, jdbcType=VARCHAR },
			#{orgTypeSn, jdbcType=VARCHAR },
			#{orgTypeDes, jdbcType=VARCHAR },
			<if test="@Ognl@isNotBlank(sort)">
				#{sort,  jdbcType=NUMERIC  }
			</if>
			<if test="@Ognl@isBlank(sort)">
				0
			</if>
		)
	</insert>
	
	<select id="getOrgTypes" resultType="com.exam.bean.OrgType">
				SELECT    
					 R.ORG_TYPE_ID,
					 R.ORG_TYPE_NAME,
					 R.ORG_TYPE_PARENT_ID,
					 T.ORG_TYPE_NAME ORG_TYPE_PARENT_NAME,
					 R.ORG_TYPE_SN,
					 R.ORG_TYPE_DES,
					 R.SORT
		       FROM ORGTYPE R
		       left join ORGTYPE T ON R.ORG_TYPE_PARENT_ID = T.ORG_TYPE_ID
	</select>
	
	
	<delete id="delOrgType" parameterType="Map">
		DELETE FROM ORGTYPE WHERE ORG_TYPE_ID = #{orgTypeId}
	</delete>
	
	
		<!--根据参数列表更新组织机构类型信息-->
		<!--
	<update id="updateOrgType" parameterType="Map">
		
		UPDATE ORGTYPE
		<set>
			ORG_TYPE_NAME = #{orgTypeName},
			ORG_TYPE_SN = #{orgTypeSn},
			<if  test="@Ognl@isNotBlank(orgTypePid)">ORG_TYPE_PID = #{orgTypePid},</if>
			ORG_TYPE_DES = #{orgTypeDes}
		</set>
		WHERE ORG_TYPE_ID = #{orgTypeId}
	</update>
-->

</mapper>